---
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
---

<div
  class="sticky pt-16 md:pt-4 top-0 z-10 -mt-72 md:-mt-48 opacity-45 hover:opacity-100 transition ease-in-out duration-700 delay-75"
>
  <a href="#table" class="absolute inset-0 flex justify-center items-center">
    <div class="w-16 md:w-24">
      <LottieAnimation src="assets/animation.json" autoplay="visible" />
    </div>
  </a>
</div>
