---
import MainLayout from "../layouts/MainLayout.astro";
import Name from "../components/Name.astro";
---

<MainLayout
  title="About"
  description="this is an about page to display authors personal description, experiences, skills and education"
>
  <h1
    class="text-4xl md:hidden md:text-5xl lg:text-8xl flex flex-col md:flex-row gap-x-4 mb-8 pt-12 text-rose items-center font-mechsuit"
    transition:name="myname"
  >
    Avila <span class="text-primary pt-4">Mariano</span>
  </h1>
  <section class="flex justify-center pb-20 px-8 mt-12">
    <div class="order-2 h-fit md:pr-8 md:mt-12" transition:name="myname">
      <Name />
    </div>
    <article id="about" class="md:px-12">
      <section
        class="text-primary py-16 leading-relaxed antialiased tracking-wide text-balance"
      >
        <p>
          Mexican Software Engineer with a passion for web development.
          Experienced in delivering exceptional user experiences through web
          optimization and responsive design. Currently exploring UX Design.
          Skilled in component-based languages like Astro and React, and
          utilizing Tailwind CSS for streamlined development and code
          reusability.
        </p>
        <p>
          Skilled in component-based languages (Astro, React) and utilizing
          Tailwind CSS for efficient development and reusable code. (Combines
          the best parts of both paragraphs)
        </p>
      </section>

      <section
        class="flex flex-col md:flex-row text-primary pt-12 border-t-2 border-zinc md:border-none"
      >
        <ul class="pl-5 mb-4">
          <li class="font-bold text-2xl">Experience</li>
          <li>Software Engineering Student</li>
          <li>3 Years as Bilingual CX Service</li>
          <li>1 Year Leading New Hires (Mexico & Colombia)</li>
          <li>
            Training Process, Product Knowledge, Coaching with SMART Goals, QA
            Audits
          </li>
        </ul>

        <ul class="pl-5 mb-4">
          <li class="font-bold text-2xl">Skills</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>UI Design</li>
          <li>Wireframing & Prototyping</li>
          <li>Design Thinking</li>
        </ul>

        <ul class="pl-5 mb-4">
          <li class="font-bold text-2xl">
            Technologies<li>
              <li>Tailwind CSS</li>
              <li>MySQL</li>
              <li>Astro</li>
              <li>React</li>
              <li>Git</li>
              <li>Figma</li>
            </li>
          </li>
        </ul>
      </section>
    </article>

    <style>
      h2 {
        font-family: mechsuit;
        padding-bottom: 12px;
      }

      p {
        padding-bottom: 18px;
      }
      ul {
        max-width: 400px;
        padding: 16px;
      }
      li {
        padding-bottom: 4px;
      }
    </style>
  </section></MainLayout
>
