---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="About" description="this is an about page to display authors personal description">
    <article
        id="about"
        class="py-10 px-8 mt-12 mb-12 w-full lg:w-[1024px] md:w-[640px] mx-auto"
    >
        <h1
            transition:name="myname"
            class="text-center text-zprim pb-8 text-6xl mt-28 border-b-2 border-zprim dark:border-indigo"
        >
            Mariano <span class="text-rose font-bold">Avila</span>
        </h1>
        <p class="text-zprim dark:bg-sec text-l lg:text-2xl pt-12 pb-48 leading-relaxed text-pretty">
            I'm a Software Engineer student looking to join the tech industry.
            Experienced in web development, currently learning new
            technologies and improving my skills. I'm passionate about learning
            and I'm always looking for new challenges.
        </p>  
    </article>
</MainLayout>