---
import MainLayout from "../layouts/MainLayout.astro";
import Name from "../components/Name.astro";
import { Image } from "astro:assets";
---

<MainLayout
  title="About | Avila Mariano"
  description="this is an about page to display authors personal description, experiences, skills and education"
>
  <div class="flex flex-col items-center">
    <h1
      class="text-4xl flex flex-col md:flex-row pt-14 pb-4 text-rose items-center gap-x-2 font-mechsuit"
      transition:name="myname"
    >
      Avila <span class="text-primary">Mariano</span>
    </h1>

    <section class="flex justify-center pt-8 lg:px-80">
      <Image
        class="rounded-md"
        src="/avilamarianodev.avif"
        height="150"
        width="150"
        alt="mariano avila dev picture"
      />
      <div class="flex flex-col">
        <p class="font-bold text-sm md:text-base hidden lg:flex p-8">
          Mexican Software Engineer with a passion for web development.
          Experienced in delivering exceptional user experiences through web
          optimization and responsive design.
        </p>
        <p class="text-sm hidden lg:flex px-8">
          Skilled in component-based languages and utilizing Tailwind CSS for
          streamlined development and code reusability.
        </p>
      </div>
    </section>
  </div>

  <section class="flex justify-center p-8 md:p-14">
    <article id="about">
      <section class="text-primary">
        <p class="font-bold text-sm md:text-base lg:hidden">
          Mexican Software Engineer with a passion for web development.
          Experienced in delivering exceptional user experiences through web
          optimization and responsive design.
        </p>
        <p class="text-sm lg:hidden">
          Skilled in component-based languages and utilizing Tailwind CSS for
          streamlined development and code reusability.
        </p>
      </section>

      <section
        class="flex flex-col md:flex-row text-primary pt-12 border-t-2 border-zinc"
      >
        <ul class="text-xs">
          <li class="font-bold text-sm">
            Education
          </li>
          <li>
            Universidad Autonoma del Noreste
          </li>
          <li>
            Software Engineering
          </li>
          <li>
            January 2025
          </li>
        </ul>

        <ul class="text-xs">
          <li class="font-bold text-sm">Experience</li>
          <li>Software Engineering Student</li>
          <li>3 Years as Bilingual CX Service</li>
          <li>1 Year Leading New Hires (Mexico & Colombia)</li>
          <li>
            Training Process, Product Knowledge, Coaching with SMART Goals, QA
            Audits
          </li>
        </ul>

        <ul class="text-xs">
          <li class="font-bold text-sm">Design Skills</li>
          <li>UI/UX</li>
          <li>Wireframing & Prototyping</li>
          <li>Design Thinking</li>
          <li>Design Research</li>
        </ul>

        <ul class="text-xs">
          <li class="font-bold text-sm">
            Technical Skills<li>
              <li>CSS3 + HTML5</li>
              <li>JavaScript</li>
              <li>Tailwind CSS</li>
              <li>MySQL</li>
              <li>Astro</li>
              <li>React</li>
              <li>Git</li>
              <li>Figma</li>
            </li>
          </li>
        </ul>
      </section>
    </article>

    <style>
      h2 {
        font-family: mechsuit;
        padding-bottom: 14px;
      }

      p {
        padding-bottom: 18px;
      }
      ul {
        max-width: 400px;
        padding: 18px;
      }
      li {
        padding-bottom: 8px;
      }
    </style>
  </section></MainLayout
>
