---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="About | Avila Mariano"
  description="this is an about page to display authors personal description, experiences, skills and education"
>
  <div class="flex flex-col items-center p-4 md:pb-12">
    <h1
      class="text-4xl flex flex-col md:flex-row pt-14 pb-4 text-rose items-center gap-x-2 font-mechsuit"
      transition:name="myname"
    >
      Avila <span class="text-primary">Mariano</span>
    </h1>

    <section class="flex justify-center pt-8 lg:px-80">
      <div class="flex flex-col">
        <p class="font-bold text-sm md:text-base hidden lg:flex p-8">
          As a Software Engineer, I focus on building modern, high-performance
          web applications with an emphasis on user experience and responsive
          design
        </p>
        <p class="text-sm hidden lg:flex px-8">
          My expertise lies in component-based architecture, allowing for 
          efficient development and high code reusability. I bring three years
          of experience in leading remote teams and facilitating skill
          development, blending technical.
        </p>
      </div>
    </section>
  </div>

  <section class="flex justify-center px-8">
    <article id="about">
      <section class="text-primary space-y-4">
        <p class="font-bold text-sm md:text-base lg:hidden">
          As a Software Engineer, I focus on building modern, high-performance
          web applications with an emphasis on user experience and
          responsive design
        </p>

        <p class="text-sm lg:hidden pb-4">
          My expertise lies in component-based architecture, allowing for 
          efficient development and high code reusability. I bring three
          years of experience in leading remote teams and facilitating
          skill development, blending technical.
        </p>
      </section>

      <section
        class="flex flex-col md:flex-row text-primary pt-12 border-t-2 border-zinc w- gap-8"
      >
        <ul class="text-xs">
          <li class="font-bold text-sm mb-1">
            Education <span class="text-rose flex flex-col">-</span>
          </li>
          <li>Universidad Autonoma del Noreste</li>
          <li>Software Engineering</li>
          <li>2025</li>
        </ul>

        <div>
          <ul class="text-xs">
            <li class="font-bold text-sm">
              Experience <span class="text-rose flex flex-col">-</span>
            </li>
            <li>
              <li class="text-md font-bold">Technology Support Analyst</li>
              <li>Qualfon | Allstate</li>
              <li>Incident Management</li>
              <li class="font-light">
                Diagnosing and resolving a wide range of technical issues
                including troubleshooting and resolving hardware, software, and
                network issues.
              </li>
            </li>

            <li class="text-md font-bold pt-4">Senior Trainer</li>
            <li>Qualfon | Allstate</li>
            <li>
              Leading Trainees remotely for Mexico, Colombia and Philippines.
            </li>
            <li>
              Conducted QA and coaching sessions to ensure goal attainment
              through the use of SMART goals.
            </li>
          </ul>
        </div>

        <ul class="text-xs">
          <li class="font-bold text-sm">
            Technical Skills <span class="text-rose flex flex-col">-</span><li>
              <li>Astro</li>
              <li>Typescript</li>
              <li>Tailwind CSS</li>
              <li>CSS3 + HTML5</li>
              <li>MySQL</li>
              <li>React</li>
              <li>Rest API</li>
            </li>
          </li>
        </ul>

        <ul class="text-xs">
          <li class="font-bold text-sm mb-1">
            Design Skills<span class="text-rose flex flex-col">-</span>
          </li>
          <li>UI/UX</li>
          <li>Wireframing & Prototyping</li>
          <li>Design Thinking</li>
          <li>Design Research</li>
        </ul>
      </section>
    </article>
  </section></MainLayout
>
<style>
  ul {
    max-width: 400px;
  }
  li {
    padding-bottom: 4px;
  }
</style>
