---
import MainLayout from "../layouts/MainLayout.astro";
import Name from "../components/Name.astro";
import { Image } from "astro:assets";
---

<MainLayout
  title="About | Avila Mariano"
  description="this is an about page to display authors personal description, experiences, skills and education"
>
  <div class="flex flex-col items-center pb-12">
    <h1
      class="text-4xl flex flex-col md:flex-row pt-14 pb-4 text-rose items-center gap-x-2 font-mechsuit"
      transition:name="myname"
    >
      Avila <span class="text-primary">Mariano</span>
    </h1>

    <section class="flex justify-center pt-8 lg:px-80">
      <div class="flex flex-col">
        <p class="font-bold text-sm md:text-base hidden lg:flex p-8">
          Software Engineer experienced in delivering great user experience
          through web optimization and responsive design.
        </p>
        <p class="text-sm hidden lg:flex px-8">
          I specialize in component-based websites for streamlined development
          and code reusability.
        </p>
      </div>
    </section>
  </div>

  <section class="flex justify-center p-8 md:p-14">
    <article id="about">
      <section class="text-primary">
        <p class="font-bold text-sm md:text-base lg:hidden">
          Software Engineer experienced in delivering great user experience
          through web optimization and responsive design.
        </p>
        <p class="text-sm lg:hidden">
          Love to work with component-based websites for streamlined development
          and code reusability.
        </p>
      </section>

      <section
        class="flex flex-col md:flex-row text-primary pt-12 border-t-2 border-zinc"
      >
        <ul class="text-xs">
          <li class="font-bold text-sm">Education</li>
          <li>Universidad Autonoma del Noreste</li>
          <li>Software Engineering</li>
          <li>2025</li>
        </ul>

        <ul class="text-xs">
          <li class="font-bold text-sm">Experience</li>
          <li>3 Years as Senior Trainer</li>
          <li>
            Leading Trainees remotely for Mexico, Colombia and Philippines
          </li>
          <li>
            Training facilitation
          </li>
          <li>
            QA and coaching sessions based on SMART goals.
          </li>
        </ul>

        <ul class="text-xs">
          <li class="font-bold text-sm">
            Technical Skills<li>
              <li>Astro</li>
              <li>Typescript</li>
              <li>Tailwind CSS</li>
              <li>CSS3 + HTML5</li>
              <li>MySQL</li>
              <li>React</li>
              <li>Rest API</li>
            </li>
          </li>
          
        </ul>

        <ul class="text-xs">
          <li class="font-bold text-sm">Design Skills</li>
          <li>UI/UX</li>
          <li>Wireframing & Prototyping</li>
          <li>Design Thinking</li>
          <li>Design Research</li>
        </ul>
      </section>
    </article>

    <style>
      h2 {
        font-family: mechsuit;
        padding-bottom: 14px;
      }

      p {
        padding-bottom: 18px;
      }
      ul {
        max-width: 400px;
        padding: 18px;
      }
      li {
        padding-bottom: 8px;
      }
    </style>
  </section></MainLayout
>
