---
import Footer from "../components/Footer.astro";
import Header from "../components/Headermain.astro";
import { ViewTransitions } from "astro:transitions";
---
<html class="bg-zinc-200">
    <head>
        <title>About Me</title>
        <ViewTransitions />
    </head>
   
    <Header />
    <article
    id="about"
    class="py-10 px-8 mt-12 mb-12 w-full lg:w-[1024px] md:text-2xl md:w-[640px] mx-auto text-center"
>
    <h1 class="text-zinc-800 pb-8 text-2xl lg:text-4xl mt-28">Mariano <span class="text-rose-500">Avila</span></h3>
    <p class="text-zinc-800 text-l lg:text-2xl">
        I'm a Software Engineer student looking to join the tech industry.
        Experienced in web development, I'm currently learning new technologies
        and improving my skills. I'm passionate about learning and I'm always
        looking for new challenges.
    </p>
</article>
<Footer />
</html>

