---
import MainLayout from "../layouts/MainLayout.astro";

import Hero from "../sections/Hero.astro"
import Table from "../components/Table.astro";

---

<MainLayout
  title="Mariano Dev | Portfolio"
  description="main page for personal porfolio website"
>
  <main class="w-full lg:w-[1024px] md:w-[640px] sm:w-{480px} mx-auto">
    <Hero />

    <section >
      <Table />
    </section>
  </main>
</MainLayout>
