---
import MainLayout from "../layouts/MainLayout.astro";

import Hero from "../sections/Hero.astro";
import Table from "../components/Table.astro";
import Projects from "../sections/Projects.astro";
---

<MainLayout
  title="Mariano Dev | Portfolio"
  description="main page for personal porfolio website"
>
  <main>
    <Hero />
    <Table />
    <Projects
      title="Proyecto 1"
      description="lorem impuasdoashd hoaisdaohisd hioased"
    />
    <Projects
    title="Proyecto 1"
    description="lorem impuasdoashd hoaisdaohisd hioased"
  />
  <Projects
  title="Proyecto 1"
  description="lorem impuasdoashd hoaisdaohisd hioased"
/>
  </main>
</MainLayout>
