---
import MainLayout from "../layouts/MainLayout.astro";

import Hero from "../sections/Hero.astro";
import Table from "../components/Table.astro";
import Projects from "../sections/Projects.astro";
---

<MainLayout
  title="Mariano Dev | Portfolio"
  description="main page for personal porfolio website"
>
  <main>
    <Hero />
    <Table />
    <Projects
      title="RPV Fund"
      description="Aplicacion movil para una fundacion que ofrece servicios medicos en el estado de Toluca, Mexico la cual se deasrrollo con el objetivo de proporcionar a los pacientes un registro medico a la mano, acceso a recordatorios y comunicacion con sus medicos."
      BadgeName="React Native"
      imgSrc="/rpvfund.png"
    />
  </main>
</MainLayout>
