---
import MainLayout from "../layouts/MainLayout.astro";

import Hero from "../sections/Hero.astro";
import Table from "../components/Table.astro";
import Projects from "../sections/Projects.astro";
---

<MainLayout
  title="Mariano Dev | Portfolio"
  description="main page for personal porfolio website"
>
  <main>
    <Hero />
    <Table />
    <Projects
      title="RPV Fund"
      description="Aplicación móvil para una fundación que ofrece servicios médicos en el estado de Toluca, México. Se desarrolló con el objetivo de proporcionar a los pacientes un registro médico a mano, acceso a recordatorios y comunicación con sus médicos."
      BadgeName="React Native"
      imgSrc="/rpvfund.png"
    />
  </main>
</MainLayout>
