---
import MainLayout from "../layouts/MainLayout.astro";

import Hero from "../components/Hero.astro";
import Table from "../components/Table.astro";
import Bento from "../components/Bento.astro";
import Lottie from "../components/svg/Lottie.astro";
import Details from "../components/Details.astro";
---

<MainLayout
  title="Avila Dev | Software Engineer | Web Developer"
  description="Mexican Software Engineer, showcase of Web & Mobile App projects portfolio"
>
  <main>
    <Hero />
    <Lottie />
    <Table />
    <Bento />
    <Details />
  </main>
</MainLayout>
