---
import Layout from "../layouts/Layout.astro";
import Table from "../components/Table.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Mariano Dev Portfolio">
	<main class="w-full lg:w-[1024px] md:w-[640px] sm:w-{480px} mx-auto">
		<title>MarianoDev | Portfolio</title>

		<section class="mx-auto py-10 mt-40">
			<h1
				class="4xl lg:text-8xl md:text-6xl text-4xl font-bold flex flex-row gap-x-4 pb-4 font"
			>
				Mariano<span class="text-rose-500">Avila</span>
			</h1>
			<h2
				class="text-2xl opacity-80 lg:text-4xl md:text-2xl sm:text-xl text-center"
			>
				Software Engineer Student | Web Developer
			</h2>
		</section>
		
		<section class="mt-80 py-2">
			<Table />
		</section>
	
		<section
			class="flex flex-nowrap flex-col lg:flex-row gap-8 items-center">
			<Projects />
		
		</section>
	</main>
</Layout>
