---
import MainLayout from "../layouts/MainLayout.astro";

import Hero from "../sections/Hero.astro";
import Table from "../components/Table.astro";
import Projects from "../sections/Projects.astro";
---

<MainLayout
  title="Avila Dev | Software Engineer | Web Developer"
  description="Mexican Software Engineer, showcase of Web & Mobile App projects portfolio"
>
  <main>
    <Hero />
    <Table />
  </main>
</MainLayout>
