---
import MainLayout from "../layouts/MainLayout.astro";
import Projects from "../sections/Projects.astro";
---

<MainLayout
  title="Projects | Avila Mariano"
  description="this is an about page to display authors personal projects with a simple showcase of images and content"
>
  <section class="pb-4 md:pb-14">
    <Projects
      title="RPV Fund"
      description="Aplicación móvil que ofrece servicios médicos con el objetivo de proporcionar a los pacientes un registro médico a mano y comunicación con sus médicos."
      BadgeNames={["React Native", "JavaScript"]}
      imgSrc="/rpvfund.png"
    />
  </section>
</MainLayout>
