---
import MainLayout from "../layouts/MainLayout.astro";
import Projects from "../sections/Projects.astro";
---

<MainLayout
  title="Projects"
  description="this is an about page to display authors personal projects with a simple showcase of images and content"
>
  <section class="">
    <Projects
      title="RPV Fund"
      description="Aplicación móvil para una fundación que ofrece servicios médicos en el estado de Toluca, México. En proceso de desarrollo con el objetivo de proporcionar a los pacientes un registro médico a mano, acceso a recordatorios y comunicación con sus médicos."
      BadgeNames={["React Native", "JavaScript"]}
      imgSrc="/rpvfund.png"
    />
  </section>
</MainLayout>
