---
import Project from "@components/Project.astro";
import { projectsData } from "../data/projects";
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="py-14 md:p-14">
  <h2 class="flex justify-center pb-8 text-xl text-center">{t('bento.title')}</h2>

  <section class="grid grid-cols-1 lg:grid-cols-3 lg:px-28">
    {projectsData.map((project) => (
      <Project
        title={project.title}
        description={project.description[lang]}
        imgSrc={project.imgSrc}
        link={project.link}
      />
    ))}
  </section>
</section>
