---
import wowAstro from "/src/assets/wow.webp";
import gBooks from "/src/assets/bookfinder.webp";
import AikidoSS1 from "/src/assets/aikido1.webp";
import dungeon from "/src/assets/characterSelection.png";
---

<section class="py-14 content-center mx-auto">
  <div class="py-4 px-2 mx-auto max-w-screen-xl lg:px-6 bg-opacity-35">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 justify-center">
      <div class="h-auto flex flex-col">
        <a
          href="/projectBlog/wowClone"
          class="group relative flex flex-col overflow-hidden px-4 pb-4 pt-40 flex-grow bg-cover bg-no-repeat"
          style={`background-image: url(${wowAstro.src});`}
        >
          <div
            class="absolute inset-0 bg-zinc opacity-10 transition-opacity duration-300 group-hover:opacity-25"
          >
          </div>
          <h3
            class="text-2xl font-medium text-rose p-4 xs:text-xl md:text-3xl opacity-0 transition-opacity duration-300 group-hover:opacity-100"
          >
            WoW - Clone
          </h3>
        </a>
      </div>

      <div class="bg-opacity-35 h-auto flex flex-col">
        <a
          href="/projectBlog/gBooks"
          class="group relative flex flex-col overflow-hidden px-4 pb-4 pt-40 flex-grow bg-cover bg-no-repeat"
          style={`background-image: url(${gBooks.src});`}
        >
          <div
            class="absolute inset-0 bg-zinc opacity-10 transition-opacity duration-300 group-hover:opacity-25"
          >
          </div>
          <h3
            class="text-2xl font-medium text-rose p-4 xs:text-xl md:text-3xl opacity-0 transition-opacity duration-300 group-hover:opacity-100"
          >
            Book Finder
          </h3>
        </a>
      </div>
      <div class="bg-opacity-35 h-auto flex flex-col">
        <a
          href="/projectBlog/Aikido"
          class="group relative flex flex-col overflow-hidden px-4 pb-4 pt-40 flex-grow bg-cover bg-no-repeat"
          style={`background-image: url(${AikidoSS1.src});`}
        >
          <div
            class="absolute inset-0 bg-zinc opacity-10 transition-opacity duration-300 group-hover:opacity-25"
          >
          </div>
          <h3
            class="text-2xl font-medium text-rose p-4 xs:text-xl md:text-3xl opacity-0 transition-opacity duration-300 group-hover:opacity-100"
          >
            Ryusui Dojo App
          </h3>
        </a>
      </div>
      <div class="bg-opacity-35 h-auto flex flex-col">
        <a
          href="/projectBlog/Dungeon"
          class="group relative flex flex-col overflow-hidden px-4 pb-4 pt-40 flex-grow bg-cover bg-no-repeat"
         style={`background-image: url(${dungeon.src});`}
        >
          <div
            class="absolute inset-0 bg-zinc opacity-10 transition-opacity duration-300 group-hover:opacity-25"
          >
          </div>
          <h3
            class="text-2xl font-medium text-rose p-4 xs:text-xl md:text-3xl opacity-0 transition-opacity duration-300 group-hover:opacity-100"
          >
            Endless Dungeon
          </h3>
        </a>
    </div>
  </div>
</section>
