---

---

<div class="py-20 mb-14 mx-auto max-w-screen-xl text-center">
  <div class="flex flex-col items-center space-y-2">
    <h2 class="font-mechsuit text-rose text-xl pb-8">
      Professional <span class="text-primary">Experience</span>
    </h2>

    <details
      class="w-full max-w-lg bg-none rounded-lg shadow-lg p-4 pr-12"
      open
    >
      <summary
        class="cursor-pointer text-lg font-semibold inline-block hover:text-rose"
      >
        <h1>Software Engineering</h1>
      </summary>
      <p class="text-xs text-primary">2025</p>
      <div
        class="relative text-left space-y-2 flex flex-row justify-between p-4"
      >
        <p>Bachelor of Science in Software Engineering</p>
        <img
          src="/assets/logos/logo-uane.png"
          alt="Software Engineering"
          class="w-32 h-auto rounded-md absolute -right-14 -top-5"
        />
      </div>
      <p class="text-left p-4 text-sm opacity-45">
        Universidad Autonoma del Noreste
      </p>
    </details>

    <details class="w-full max-w-lg bg-none rounded-lg shadow-lg p-4">
      <summary
        class="cursor-pointer text-lg font-semibold inline-block hover:text-rose"
      >
        <h1>UX Design - Google</h1>
      </summary>
      <p class="text-xs text-primary">2025</p>
      <div class="text-left space-y-2 flex flex-row justify-between p-4">
        <p>Google Professional UX Design Certificate</p>
        <a
          href="https://app.aluracursos.com/program/certificate/10f8b864-3701-4f07-9fd8-bce0be82d299"
          target="_blank"
          rel="noopener"
        >
          <img
            src="../assets/logos/logo-google.svg"
            alt="Google logo"
            class="w-12 h-auto rounded-md"
          /></a
        >
      </div>
      <p class="text-left pl-4 text-sm opacity-45">Google</p>
    </details>

    <details class="w-full max-w-lg bg-none rounded-lg shadow-lg p-4">
      <summary
        class="cursor-pointer text-lg font-semibold inline-block hover:text-rose"
      >
        <h1>Back-End Certificate - Oracle</h1>
      </summary>
      <p class="text-xs text-primary">2023</p>
      <div class="text-left space-y-2 flex flex-row justify-between p-4">
        <p>Oracle Professional Back End Certificate</p>
        <a
          href="https://app.aluracursos.com/program/certificate/10f8b864-3701-4f07-9fd8-bce0be82d299"
          target="_blank"
          rel="noopener"
        >
          <img
            src="/assets/logos/logo-oracle.svg"
            alt="Software Engineering"
            class="w-12 h-auto rounded-md"
          /></a
        >
      </div>
      <p class="text-left pl-4 text-sm opacity-45">Oracle Next Education</p>
    </details>
  </div>
</div>
