<section>
  <ul class="flex flex-row justify-center gap-12">
    <li>
      <h3
        class="text-rose-500 py-2 lg:text-xl md:text-lg sm:text-{sm} text-center"
      >
        Software Development
      </h3>
      <p
        class="lg:text-xl md:text-lg sm:text-{sm} border-b border-rose-500 text-center"
      >
        Experienced in OOP: Java
      </p>
    </li>
    <li>
      <h3
        class="text-rose-500 py-2 lg:text-xl md:text-lg sm:text-{sm} text-center"
      >
        UX/UI
      </h3>
      <p
        class="lg:text-xl md:text-lg sm:text-{sm} border-b border-rose-500 text-center"
      >
        Experienced in Astro, React and Tailwind.
      </p>
    </li>
  </ul>
</section>
