---
import Linkedin from "../components/Linkedin.astro";
import Github from "../components/Github.astro";
import Mail from "../components/Mail.astro";
import Whatsapp from "../components/Whatsapp.astro";
import Logo from "../components/Logo.astro";
---

<section
  class="w-full"  
>

  <div
    class="max-w-screen-xl -mt-0.5 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8"
  >
    <section
      class="pt-8 flex flex justify-center items-center"
    >
  
      <p
        class="leading-6 text-pretty text-center text-primary opacity-70 pb-4"
      >
        Designed by myself, built using <span
          class="hover:text-rose cursor-pointer"
          ><a href="https://astro.build" target="_blank" rel="noopener">Astro</a
          ></span> and
          <span class="hover:text-rose cursor-pointer"
            ><a href="https://tailwindcss.com" target="_blank" rel="noopener"
              >Tailwind CSS</a
            >,
          </span> deployed with <span class="hover:text-rose cursor-pointer"
            ><a href="https://pages.github.com" target="_blank" rel="noopener"
              >GithubPages</a
            ></span
          >.
        </span>
      </p>
      <Logo />
      <div class="flex space-x-6">
        <Mail />
        <Github />
        <Linkedin />
        <Whatsapp />
      </div>
    </section>

  </div>
</section>
