---
import Linkedin from "../components/Linkedin.astro";
import Github from "../components/Github.astro";
import Mail from "../components/Mail.astro";
import Whatsapp from "../components/Whatsapp.astro";
import Logo from "../components/Logo.astro";
---

<section
  class="w-full"  
>

  <div
  >
    <section
      class="flex flex-col md:flex-row justify-center items-center"
    >
    <Logo />
      <p
        class="leading-6 text-sm text-pretty text-center text-primary opacity-70 px-4 md:px-12"
      >
        Designed by myself, built using <span
          class="hover:text-rose cursor-pointer"
          ><a href="https://astro.build" target="_blank" rel="noopener">Astro</a
          ></span> and
          <span class="hover:text-rose cursor-pointer"
            ><a href="https://tailwindcss.com" target="_blank" rel="noopener"
              >Tailwind CSS</a
            >,
          </span> deployed with <span class="hover:text-rose cursor-pointer"
            ><a href="https://pages.github.com" target="_blank" rel="noopener"
              >GithubPages</a
            ></span
          >.
        </span>
      </p>
  
      <div class="flex space-x-2 py-4">
        <Mail />
        <Github />
        <Linkedin />
        <Whatsapp />
      </div>
    </section>

  </div>
</section>
