---
import Linkedin from "../components/Linkedin.astro";
import Github from "../components/Github.astro";
---

<section
  class="w-full border-t-2 border-secondary dark:border-primary"
  style="background: rgb(88,88,88);
    background: linear-gradient(180deg, rgba(88,88,88,0.95) 0%, rgba(0,0,0,0.8953956582633054) 70%);"
  id="contact"
>
  <div
    class="max-w-screen-xl px-4 py-12 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8"
  >
    <section class="border-b-2 border-secondary flex flex-row justify-center items-center">
      <a href="mailto:marianoavilaj4@gmail.com">
        <img
          src="/src/icons/mail.svg"
          alt="vector image of an envelope"
          class="size-12 hover:scale-110 opacity-80 hover:opacity-100 cursor-pointer transition-all"
        /></a
      >
      <img
      src="/src/icons/logo.svg"
      class="size-40 px-8 hover:scale-110 opacity-80 hover:opacity-100 hover:shadow-zinc-500 cursor-pointer transition-all"
      alt=""
    />
      <a href="tel:8683963024">
        <img
          src="/src/icons/brand-whatsapp.svg"
          alt="vecotr image of whatsapp logo"
          class="size-12 hover:scale-110 opacity-80 hover:opacity-100 cursor-pointer transition-all"
        /></a
      >
    </section>
  </div>
  <div class="flex justify-center mt-8 space-x-6">
    <Github />
    <Linkedin />
  </div>
  <p class="mt-8 text-base leading-6 text-center text-primary">
    © 2024 Mariano Avila.
  </p>

</section>
