
<header
    class="bg-zinc-200 shadow-lg shadow-zinc-400 flex justify-between items-center py-5 mr-4 w-full lg:{1024px} lg:text-2xl md:{640px} sm:{480px} px-8 mx-auto position-st"
>
    <img
        class="size-14 sm:size-16, md:size-20 opacity-80 hover:scale-110 hover:opacity-100 hover:shadow-zinc-400 cursor-pointer md:justify-start"
        src="/public/logo.svg"
        alt="logo mariano dev"
        
    />

    <nav class="hidden md:block text-decoration-none">
        <menu>
            <ul class="flex flex-row gap-x-10 opacity-80 text-zinc-800">
           
                <a
                    href="dxravage.github.io/"
                    class="hover:transform hover:scale-110 hover:text-rose-500"
                    ><li> // home</li></a>
                <a
                    href="#about"
                    class="hover:transform hover:scale-110 hover:text-rose-500"
                >
                    <li> // about</li></a>
                <a
                    href="#projectsCollection"
                    class="hover:transform hover:scale-110 hover:text-rose-500"
                    ><li> // projects</li></a>
                <a
                    href="#contact"
                    class="hover:transform hover:scale-110 hover:text-rose-500"
                    ><li> // contact</li></a>
            </ul>
        </menu>
    </nav>
</header>
