<!-- HEADER -->
<header
  class="shadow-md flex justify-between items-center px-4 py-4 text-sm font-mechsuit sticky top-0 z-50 bg-neutral-300/90"
>
<!-- Logo --> 
  <a
    href="https://dxravage.github.io"
    aria-label="Mariano's portfolio logo"
    title="Visit Mariano's portfolio website"
  >
    <svg
      class="w-52 h-16 -mt-8 opacity-60 hover:opacity-80 transition-all"
      viewBox="0 0 190 60"
      role="img"
      aria-labelledby="logoTitle"
      xmlns="http://www.w3.org/2000/svg"
    >
      <title id="logoTitle">Mariano Avila's Logo</title>
      <g id="layer1">
        <path
          style="fill:#e11d48"
          d="M 60.8,23.3 C 75.0,45.0 74.0,43.5 80.7,54.5 L 54.9,57.8 69.3,50.0 61.0,40.5 52.4,58.1 40.7,60.0 C 46.5,50.3 54.5,35.0 60.8,23.3 Z"
        ></path>
        <path
          style="fill:#333"
          d="m 91.0,40.4 -4.8,2.0 c 6.6,10.3 6.6,10.2 12.3,17.7 C 94.1,48.7 94.2,48.6 91.0,40.4 Z"
        ></path>
        <path style="fill:#333" d="m 77.3,46.4 7.9,-3.4 6.4,9.8 -9.5,1.4 z"
        ></path>
      </g>
    </svg>
  </a>

  <nav class="hidden md:flex flex-row gap-x-10 text-neutral-600 group">
    <a
      href="https://dxravage.github.io"
      class="opacity-100 transition-all duration-75 group-hover:opacity-50 hover:!opacity-100 hover:text-rose"
      title="Visit Mariano's portfolio homepage"
    >
      Home
    </a>
    <a
      href="/about/"
      class="opacity-100 transition-all duration-75 group-hover:opacity-50 hover:!opacity-100 hover:text-rose"
      title="Visit Mariano's portfolio about page"
    >
      About
    </a>
    <a
      href="/projectsGallery/"
      class="opacity-100 transition-all duration-75 group-hover:opacity-50 hover:!opacity-100 hover:text-rose"
      title="Visit Mariano's portfolio projects page"
    >
      Projects
    </a>
    <a
      href="mailto:marianoavilaj4@gmail.com"
      class="opacity-100 transition-all duration-75 group-hover:opacity-50 hover:!opacity-100 hover:text-rose"
      title="Visit Mariano's portfolio contact page"
    >
      Contact
    </a>
  </nav>

  <!-- Burger Button -->
  <button
    id="menu-button"
    class="md:hidden flex flex-col justify-between w-6 h-6 p-1 text-rose-500 focus:outline-none transition-all relative z-50"
    aria-expanded="false"
  >
    <span
      class="block w-full h-0.5 bg-current transition-transform duration-300 origin-center relative z-50"
    ></span>
    <span
      class="block w-full h-0.5 bg-current transition-opacity duration-300 relative z-50"
    ></span>
    <span
      class="block w-full h-0.5 bg-current transition-transform duration-300 origin-center relative z-50"
    ></span>
  </button>

  <!-- Mobile Menu -->
  <nav
    id="mobile-menu"
    class="fixed inset-0 w-full h-0 overflow-hidden opacity-0 transition-all duration-300 bg-neutral-300/50 shadow-lg md:hidden z-40"
  >
    <ul class="flex flex-col items-center justify-center h-full gap-6">
      <li>
        <a
          href="https://dxravage.github.io"
          class="block px-24 py-8 rounded-md transition-all hover:text-rose hover:bg-neutral-200/20"
          >Home</a
        >
      </li>
      <li>
        <a
          href="/about/"
          class="block px-24 py-8 rounded-md transition-all hover:text-rose hover:bg-neutral-200/20"
          >About</a
        >
      </li>
      <li>
        <a
          href="/projectsGallery/"
          class="block px-24 py-8 rounded-md transition-all hover:text-rose hover:bg-neutral-200/20"
          >Projects</a
        >
      </li>
      <li>
        <a
          href="mailto:marianoavilaj4@gmail.com"
          class="block px-24 py-8 rounded-md transition-all hover:text-rose hover:bg-neutral-200/20"
          >Contact</a
        >
      </li>
    </ul>
  </nav>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const btn = document.getElementById("menu-button");
      const menu = document.getElementById("mobile-menu");
      const header = document.querySelector("header");

      btn.addEventListener("click", () => {
        const isOpen = btn.classList.toggle("open");
        btn.setAttribute("aria-expanded", isOpen.toString());

        menu.classList.toggle("h-0");
        menu.classList.toggle("opacity-0");
        menu.classList.toggle("h-screen");
        menu.classList.toggle("opacity-100");

        document.body.classList.toggle("overflow-hidden", isOpen);
        const [top, middle, bottom] = btn.querySelectorAll("span");

        if (isOpen) {
          top.classList.add("rotate-45", "translate-y-[7px]");
          middle.classList.add("opacity-0");
          bottom.classList.add("-rotate-45", "-translate-y-[7px]");
        } else {
          top.classList.remove("rotate-45", "translate-y-[7px]");
          middle.classList.remove("opacity-0");
          bottom.classList.remove("-rotate-45", "-translate-y-[7px]");
        }
      });
      window.addEventListener("scroll", () => {
        header.classList.toggle("shadow-lg", window.scrollY > 0);
        header.classList.toggle("shadow-md", window.scrollY === 0);
      });
    });
  </script>
</header>
