<header
    class="bg-zinc-300 shadow-lg shadow-zinc-500 relative flex justify-between items-center py-5 text-l lg:{1024px} lg:text-2xl md:{640px} sm:{480px} "
>
    <img
        class="absolute top-0.5 w-48 md:w-72 hover:scale-110 opacity-80 hover:opacity-100 hover:shadow-zinc-500 cursor-pointer transition-all"
        src="/logo.svg"
        alt="logo mariano dev"
    />
    
    <nav class="block justify-end text-decoration-none ml-auto pr-4">
        <menu>
            <img class="w-12 md:hidden" src="/menu.svg" alt="">
            <ul class="hidden md:flex flex-row gap-x-10 opacity-80 text-zinc-800">
                <a
                    href="/"
                    class="hover:transform hover:scale-110 hover:text-rose-500 transition-all"
                    ><li>// home</li></a
                >
                <a
                    href="#about"
                    class="hover:transform hover:scale-110 hover:text-rose-500 transition-all"
                >
                    <li>// about</li></a
                >
                <a
                    href="#projectsCollection"
                    class="hover:transform hover:scale-110 hover:text-rose-500 transition-all"
                    ><li>// projects</li></a
                >
                <a
                    href="#contact"
                    class="hover:transform hover:scale-110 hover:text-rose-500 transition-all"
                    ><li>// contact</li></a
                >
            </ul>
        </menu>
    </nav>
</header>
