<header
    class="flex justify-between items-center py-5 mr-4 w-full lg:{1024px} lg:text-2xl md:{640px} sm:{480px} px-8 mx-auto position-st"
>
    <img
        class="size-14 md:size-20 sm:size-16 opacity-80 hover:scale-110 hover:opacity-100 cursor-pointer"
        src="/public/logo.svg"
        alt="logo mariano dev"
    />

    <nav class="text-decoration-none text-right">
        <menu>
            <ul class="flex flex-row gap-x-10 opacity-80">
                <a
                    href="/dxravage/"
                    class="hover:transform hover:scale-110 hover:text-lime-400"
                    ><li><br /> // home</li></a
                >
                <a
                    href="#about"
                    class="hover:transform hover:scale-110 hover:text-lime-400"
                >
                    <li><br /> // about</li></a
                >
                <a
                    href="#projectsCollection"
                    class="hover:transform hover:scale-110 hover:text-lime-400"
                    ><li><br /> // projects</li></a
                >
                <a
                    href="#contact"
                    class="hover:transform hover:scale-110 hover:text-lime-400"
                    ><li><br /> // contact</li></a
                >
            </ul>
        </menu>
    </nav>
</header>
