<header
    class="bg-zinc-200 shadow-lg shadow-zinc-400 relative flex justify-between items-center py-5 mr-4 w-full lg:{1024px} lg:text-2xl md:{640px} sm:{480px} "
>
    <img
        class="absolute top-0.5 w-72 hover:scale-110 opacity-80 hover:opacity-100 hover:shadow-zinc-500 cursor-pointer transition-all"
        src="/logo.svg"
        alt="logo mariano dev"
    />

    <nav class="block justify-end text-decoration-none ml-auto pr-4">
        <menu>
            <ul class=" flex flex-row gap-x-10 opacity-80 text-zinc-800">
                <a
                    href="dxravage.github.io/"
                    class="hover:transform hover:scale-110 hover:text-rose-500 transition-all"
                    ><li>// home</li></a
                >
                <a
                    href="#about"
                    class="hover:transform hover:scale-110 hover:text-rose-500 transition-all"
                >
                    <li>// about</li></a
                >
                <a
                    href="#projectsCollection"
                    class="hover:transform hover:scale-110 hover:text-rose-500 transition-all"
                    ><li>// projects</li></a
                >
                <a
                    href="#contact"
                    class="hover:transform hover:scale-110 hover:text-rose-500 transition-all"
                    ><li>// contact</li></a
                >
            </ul>
        </menu>
    </nav>
</header>
