<div
  class="text-lg hidden md:flex md:flex-row font-extrabold md:text-2xl font-mechsuit lg:text-4xl gap-12 pt-4 justify-center"
>
  <div class="text-rose">
    <h1 style="margin-bottom: 0.5rem;">A</h1>
    <h1 style="margin-bottom: 0.5rem;">v</h1>
    <h1 style="margin-bottom: 0.5rem;">i</h1>
    <h1 style="margin-bottom: 0.5rem;">l</h1>
    <h1 style="margin-bottom: 0.5rem;">a</h1>
  </div>
  <div class="text-primary">
    <h1 style="margin-bottom: 0.5rem;">M</h1>
    <h1 style="margin-bottom: 0.5rem;">a</h1>
    <h1 style="margin-bottom: 0.5rem;">r</h1>
    <h1 style="margin-bottom: 0.5rem;">i</h1>
    <h1 style="margin-bottom: 0.5rem;">a</h1>
    <h1 style="margin-bottom: 0.5rem;">n</h1>
    <h1 style="margin-bottom: 0.5rem;">o</h1>
  </div>
</div>
