---
const {href, content, title, style} = Astro.props;
---

<div class={style}>
  <a href={href}
  title={title}
  target="_blank"
  >
    <button
      class="bg-transparent text-rose border-primary
         hover:text-zinc hover:border-rose active:bg-rose
         active:text-secondary border-2 p-4 rounded-md"
    >
      {content}
    </button></a
  >
</div>
