---

---

<div class="pt-24 pb-24 flex justify-center">
  <a href="mailto:marianoavilaj4@gmail.com">
    <button
      class="bg-transparent text-rose border-primary
         hover:text-zinc hover:border-rose active:bg-rose
         active:text-secondary border-2 w-fit h-12 rounded-md"
    >
      Contact Me
    </button></a
  >
</div>
