---
const { href, content, title, style } = Astro.props;
---

<div class={style}>
  <a href={href} title={title} target="_blank">
    <button
      class="bg-rose hover:bg-transparent border-2 border-rose text-secondary
         hover:text-secondary hover:border-rose active:bg-rose
         active:text-secondary p-4 rounded-md"
    >
      {content}
    </button></a
  >
</div>
