---
const { title, description, imgSrc, link } = Astro.props;
---

<section>
  <div>
    <a href={link} rel="noopener noreferrer" title="Project Website">
      <div class="relative bg-opacity-35 group h-96">
        <div
          class="absolute inset-0 bg-cover lg:bg-contain bg-no-repeat bg-center group-hover:bg-opacity-75"
          style={`background-image: url('${imgSrc}');`}
        >
        </div>
        <div
          class="absolute inset-0 opacity-0 cursor-pointer group-hover:opacity-100 transition-opacity duration-300"
        >
          <div
            class="flex items-end justify-center h-full bg-stone-600 bg-opacity-65"
          >
            <div class="p-4">
              <h2 class="text-xl text-rose font-mechsuit pb-4">{title}</h2>
              <p class="text-xs text-secondary">{description}</p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</section>
