---
import Typescript from "../components/Typescript.astro";
import AstroIcon from "./AstroIcon.astro";
import Develop from "../components/Develop.astro";
---

<section
  id="table"
  class="mx-auto md:w-3/4 flex flex-col lg:flex-row mt-12 py-32 text-pretty"
>
  <div class="flex-1 p-8">
    <div class="flex flex-row items-center">
      <Develop />
      <h2 class="text-rose align-middle text-lg pl-4 pb-2">
        Software Development
      </h2>
    </div>
    <p class="text-primary pt-4">
      Experience in Java along with proficiency in Spring framework and Resful
      API development using OOP.
    </p>
  </div>
  <div class="flex-1 p-8">
    <div class="flex flex-row items-center pb-4">
      <AstroIcon />
      <h2 class="text-rose align-middle text-lg pl-4">Astro Dev</h2>
    </div>
    <p class="text-primary pt-4">
      Skilled using Astro to develop component based websites that are efficient
      and responsive for a great user experience across diverse platforms.
    </p>
  </div>
  <div class="flex-1 p-8">
    <div class="flex flex-row items-center pb-4">
      <Typescript />
      <h2 class="text-rose align-middle text-lg pl-4">Typescript</h2>
    </div>
    <p class="text-primary pt-4">
      Proficient in TypeScript's strong typing and modern JavaScript
      features to build scalable and maintainable front-end applications
    </p>
  </div>
</section>

<style>
  h2 {
    font-family: mechsuit;
  }
</style>
