---
import React from "../components/React.astro";
import AstroIcon from "./AstroIcon.astro";
import Develop from "../components/Develop.astro";
---

<div class="flex flex-col md:flex-row max-w-screen-lg mx-auto mb-8 py-10 pl-2 text-pretty">
  <div class="border-2 border-zinc p-8">
    <div class="flex flex-row">
      <Develop />
      <h1 class="text-rose text-lg ml-4">Software Development</h1>
    </div>
    <p class="text-primary mt-4">
      Experience in Java programming, along with proficiency in Spring framework
      and Resful API development using OOP.
    </p>
  </div>
  <div class="border-2 border-zinc p-8">
    <div class="flex flex-row">
      <AstroIcon />
      <h1 class="text-rose align-middle text-lg ml-4">Astro Dev</h1>
    </div>
    <p class="text-primary mt-4">
      Skilled using Astro to develop dynamic websites that are efficient and
      highly responsive for an optimal user experience across diverse platforms.
    </p>
  </div>
  <div class="border-2 border-zinc p-8">
    <div class="flex flex-row">
      <React />
      <h1 class="text-rose align-middle text-lg ml-4">React Dev</h1>
    </div>
    <p class="text-primary mt-4">
      Skilled in developing dynamic and responsive user interfaces through the
      use of modular components.
    </p>
  </div>
</div>
