---
import React from "../components/React.astro";
import AstroIcon from "./AstroIcon.astro";
import Develop from "../components/Develop.astro";
---

<section
  class="mx-auto md:w-2/3 flex flex-col lg:flex-row mb-12 py-10 text-pretty"
>
  <div class="flex-1 border-2 border-zinc p-8">
    <div class="flex flex-row items-center">
      <Develop />
      <h1 class="text-rose align-middle text-lg ml-4">Software Development</h1>
    </div>
    <p class="text-primary pt-4">
      Experience in Java programming, along with proficiency in Spring framework
      and Resful API development using OOP.
    </p>
  </div>
  <div class="flex-1 border-2 border-zinc p-8">
    <div class="flex flex-row items-center">
      <AstroIcon />
      <h1 class="text-rose align-middle text-lg ml-4">Astro Dev</h1>
    </div>
    <p class="text-primary pt-4">
      Skilled using Astro to develop dynamic websites that are efficient and
      highly responsive for an optimal user experience across diverse platforms.
    </p>
  </div>
  <div class="flex-1 border-2 border-zinc p-8">
    <div class="flex flex-row items-center">
      <React />
      <h1 class="text-rose align-middle text-lg ml-4">React Dev</h1>
    </div>
    <p class="text-primary pt-4">
      Skilled in developing dynamic and responsive user interfaces through the
      use of modular components.
    </p>
  </div>
</section>
