---
import React from "../components/React.astro";
import AstroIcon from "./AstroIcon.astro";
import Develop from "../components/Develop.astro";
---

<section class="mx-auto md:w-3/4 flex flex-col lg:flex-row pb-24 text-pretty">
  <div class="flex-1 p-8">
    <div class="flex flex-row items-center">
      <Develop />
      <h1 class="text-rose align-middle text-lg pl-4 pb-2">
        Software Development
      </h1>
    </div>
    <p class="text-primary pt-4">
      Experience in Java programming, along with proficiency in Spring framework
      and Resful API development using OOP.
    </p>
  </div>
  <div class="flex-1 p-8">
    <div class="flex flex-row items-center pb-4">
      <AstroIcon />
      <h1 class="text-rose align-middle text-lg pl-4">Astro Dev</h1>
    </div>
    <p class="text-primary pt-4">
      Skilled using Astro to develop dynamic websites that are efficient and
      highly responsive for an optimal user experience across diverse platforms.
    </p>
  </div>
  <div class="flex-1 p-8">
    <div class="flex flex-row items-center pb-4">
      <React />
      <h1 class="text-rose align-middle text-lg pl-4">React Dev</h1>
    </div>
    <p class="text-primary pt-4">
      Skilled in developing dynamic and responsive user interfaces through the
      use of modular components.
    </p>
  </div>
</section>

<style>
  h1 {
    font-family: mechsuit;
  }
</style>
