---
import Typescript from "../components/svg/Typescript.astro";
import AstroIcon from "../components/svg/AstroIcon.astro";
import React from "../components/svg/React.astro";
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id="table"
  class="mx-auto md:w-3/4 flex flex-col lg:flex-row mt-12 py-32 text-pretty"
>
  <div class="flex-1 p-8">
    <div class="flex flex-row items-center">
      <React />
      <h2 class="text-rose align-middle text-lg pl-4 pb-2">React Dev</h2>
    </div>
    <p class="text-primary pt-8">
      {t('table.reactDesc')}
    </p>
  </div>
  <div class="flex-1 p-8">
    <div class="flex flex-row items-center pb-4">
      <AstroIcon />
      <h2 class="text-rose align-middle text-lg pl-4">Astro Dev</h2>
    </div>
    <p class="text-primary pt-4">
      {t('table.astroDesc')}
    </p>
  </div>
  <div class="flex-1 p-8">
    <div class="flex flex-row items-center pb-4">
      <Typescript />
      <h2 class="text-rose align-middle text-lg pl-4">Typescript</h2>
    </div>
    <p class="text-primary pt-4">
      {t('table.tsDesc')}
    </p>
  </div>
</section>

<style>
  h2 {
    font-family: mechsuit;
  }
</style>
