---
import PrimaryButton from "../components/PrimaryButton.astro";
---
<section
class=" flex flex-col justify-center items-center pt-40 pb border-b-2 border-primary"
>
<h1
  class="4xl lg:text-8xl md:text-6xl font-medium text-5xl flex flex-row gap-x-4 mb-8 pb-4 text-primary"
  transition:name="myname"
>
  Mariano <span class="text-rose font-extrabold">Avila</span>
</h1>
<h2
  class="text-2xl opacity-80 px-6 pb-4 md:px-4 lg:text-4xl md:text-2xl sm:text-xl text-center text-primary"
>
  Software Engineer Student<span class="md:break-before-column"> | </span> Web Developer
</h2>
</section>
<PrimaryButton />