---

---
<section
class=" flex flex-col justify-center items-center mt-40 border-b-2 border-zprim"
>
<h1
  class="4xl lg:text-8xl md:text-6xl text-4xl flex flex-row gap-x-4 pb-4 text-zprim"
  transition:name="myname"
>
  Mariano <span class="text-rose font-bold">Avila</span>
</h1>
<h2
  class="text-2xl opacity-80 lg:text-4xl md:text-2xl sm:text-xl text-center text-zprim"
>
  Software Engineer Student | Web Developer
</h2>
</section>