---
const { title, description, imgSrc } = Astro.props;
import Badge from "../components/Badge.astro";
---

<section
  class="h-42 px-6 bg-transparent hover:bg-zinc-600 flex flex-row mx-auto max-w-4xl pb-24"
>
  <div>
    <h1>{title}</h1>
    <p>{description}</p>
    <Badge title="Astro" />
    <Badge title="Tailwind" />
  </div>
  <div>
    <img src={imgSrc} alt="Captura de pantalla que muestra un proyecto"/>
  </div>
</section>
