---
import MainLayout from "../../layouts/MainLayout.astro";
import Project from "@components/Project.astro";
import { projectsData } from "../../data/projects";
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<MainLayout
  title={t('projects.title')}
  description={t('projects.desc')}
>
  <section class="pt-14 mb-44 md:p-14">
    <h2 class="flex justify-center pb-8 text-xl text-center">
      {t('bento.title')}
    </h2>
    <h2
      class="flex justify-center pb-4 text-md md:text-xl md:px-64 text-center opacity-60"
    >
      {t('bento.subtitle')}
    </h2>
    <section class="grid grid-cols-1 lg:grid-cols-3 lg:px-28">
      {projectsData.map((project) => (
        <Project
          title={project.title}
          description={project.description}
          imgSrc={project.imgSrc}
          link={project.link}
        />
      ))}
    </section>
  </section>
</MainLayout>
