---
import "@fontsource-variable/jetbrains-mono";
import '@fontsource/michroma';
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <meta name="author" content="Mariano Caballero Avila" />

    <meta
      name="keywords"
      content="portfolio, mexican, web dev, software engineer"
    />

    <meta name="robots" content="index, follow" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/x-icon" href="/logo.svg" />

    <script
      defer
      data-domain="mariano.caballero.is-a.dev"
      src="https://plausible.io/js/script.js"></script>

  </head>
  <body>
    
  </body>