---
import "@fontsource-variable/jetbrains-mono";
import Header from "../components/Headermain.astro";
import Footer from "../components/Footer.astro";
import Table from "../components/Table.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Software Engineers website for a portfolio that has a collection of proyects"
		/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="author" content="Mariano Caballero Avila" />
		<meta
			name="keywords"
			content="portfolio, mexican, web dev, software engineer"
		/>
		<meta name="robots" content="index, follow" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	</head>
	<body class="bg-zinc-200"> 
		 <Header />
	<slot />

	<article
		id="about"
		class="py-10 px-8 mt-12 mb-12 w-full lg:w-[1024px] md:text-2xl md:w-[640px] mx-auto text-center"
	>
		<h3 class="text-rose-500 dark:text-lime-400 pb-8 text-2xl lg:text-4xl mt-28">About Me</h3>
		<p class="opacity-80 text-l lg:text-2xl">
			I'm a Software Engineer student looking to join the tech industry.
			Experienced in web development, I'm currently learning new technologies
			and improving my skills. I'm passionate about learning and I'm always
			looking for new challenges.
		</p>
		
	</article>
	
	<Footer />

	</body>
	

	<style is:global>
		:root {
			color-scheme: light dark;
			scroll-behavior: smooth;
		}

		* {
			font-family: "JetBrains Mono Variable", sans-serif;
			font-weight: 400;
		}
		
		h1 {
			justify-content: center;
		}
		body {
			display: flex;
			flex-direction: column;
			min-height: 100vh;
			list-style: none;
		}

		@media (prefers-reduced-motion: reduce) {
			html {
				scroll-behavior: auto;
			}
		}
	</style>
<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
</html>
