---
import "@fontsource-variable/jetbrains-mono";
import Header from "../components/Headermain.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Software Engineers website for a portfolio that has a collection of proyects"
		/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="author" content="Mariano Caballero Avila" />
		<meta
			name="keywords"
			content="portfolio, mexican, web dev, software engineer"
		/>
		<meta name="robots" content="index, follow" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="icon" type="image/x-icon" href="/logo.svg">
		<title>MarianoDev | Portfolio</title>
		<ViewTransitions />
	</head>
	<body class="bg-zinc-200" transition:animate="slide">
		<Header />
		<slot />
		<Footer />
	</body>

	<style is:global>
		:root {
			color-scheme: light dark;
			scroll-behavior: smooth;
		}

		* {
			font-family: "JetBrains Mono Variable", sans-serif;
			font-weight: 400;
		}

		h1 {
			justify-content: center;
		}
		body {
			display: flex;
			flex-direction: column;
			min-height: 100vh;
			list-style: none;
		}

		@media (prefers-reduced-motion: reduce) {
			html {
				scroll-behavior: auto;
			}
		}
	</style>
	<script
		is:inline
		src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
	></script>
</html>
