---
import "@fontsource-variable/jetbrains-mono";
import '@fontsource/michroma';
import Headermain from "../components/Headermain.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Mariano Caballero Avila" />

    <meta
      name="keywords"
      content="portfolio, mexican, web dev, software engineer"
    />

    <meta name="robots" content="index, follow" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/x-icon" href="/logo.svg" />

    <script
      defer
      data-domain="mariano.caballero.is-a.dev"
      src="https://plausible.io/js/script.js"></script>

    <ViewTransitions />
  </head>

  <body>
    <Headermain />
    <slot />
    <Footer />
    <style is:global>
      :root {
        --color-primary: #52525b;
        --color-secondary: #e4e4e7;
        --color-rose: #e11d48;
        --color-zinc: #71717a;
        cursor:
          url("/src/icons/atom-2.svg") 16 16,
          pointer;

        --background-color: var(--color-secondary);
        --background-image: var(--background-color)
          url("../public/concrete.png") repeat;
      }

      .dark {
        --color-primary: #e4e4e7;
        --color-secondary: #27272a;
        --color-rose: #4f46e5;
        --color-zinc: #a1a1aa;

        --background-color: var(--color-secondary);
        --background-image: var(--background-color)
          url("../public/concrete-dark.png") repeat;
      }

      html {
        font-family: "michroma", "Mechsuit", system-ui, sans-serif;
        background: var(--background-image);
        scroll-behavior: smooth;
        overflow-x: hidden;
        overscroll-behavior: none;
      }

      ::-webkit-scrollbar {
        width: 10px;
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: theme("colors.secondary");
        border: 2px solid transparent;
        background-clip: content-box;
      }
      ::-webkit-scrollbar-track {
        background: var(--background-image);
      }

      ::-webkit-scrollbar-corner {
        background: var(--background-image);
      }

      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        list-style: none;
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }
    </style>
  </body>
</html>
